<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/tianlinz_CS201L_assignment1/src/tianlinz_CS201L_assignment1/Assignment1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="tianlinz_CS201L_assignment1.Assignment1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="qwerty-us.kb&#10;text.txt&#10;wordlist.wl"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tianlinz_CS201L_assignment1"/>
</launchConfiguration>
